extends layout
block content
  div(class='content')
    if currentUser
        h1 Welcome #{currentUser.username}!
        form(class='form new-post' action="" method='POST' )
          textarea(name='text' placeholder="What's on your mind?" required)
          button(type='submit') Send
        if messages
          div(class='messages')
            each msg in messages
              div(class='message')
                p
                  strong @!{msg.user.username}
                p 
                  em= msg.text
                p 
                  em= msg.date_formated
    else
        if messages
          div(class='messages')
            each msg in messages
              div(class='message')
                p
                  strong @!{msg.user.username}
                a(href='/log-in') Log-in or 
                a(href='/sign-up') Sign-up to view content
                p 
                  em= msg.date_formated
