extends layout
block content
  div(class='content')
    if currentUser
        h1 Welcome #{currentUser.username}!
        form(class='form new-post' action="" method='POST' )
          textarea(name='text' placeholder="What's on your mind?" required)
          button(type='submit') Send
        if messages
          div(class='messages')
            each msg in messages
              div(class='message')
                if currentUser.role === 'Member' || currentUser.role === 'Admin'
                  p
                    strong @!{msg.user.username}
                  p 
                    em= msg.text
                  p(class='date')
                    em= msg.date_formated
                else
                  p
                    a(href='/join') Become a member to view this post author
                  p 
                    em= msg.text
                  p(class='date')
                    a(href='/join') Become a member to view this post date
    else
        if messages
          div(class='messages')
            each msg in messages
              div(class='message')
                p
                  strong @!{msg.user.username}
                a(href='/log-in') Log-in or 
                a(href='/sign-up') Sign-up to view content
