extends layout
block content
  div(class='content')
    if currentUser
        h1 Welcome #{currentUser.username}!
        form(class='form new-post' action="" method='POST' )
          textarea(name='text' placeholder="What's on your mind?" required)
          button(type='submit') Send
        if messages
          div(class='messages')
            each msg in messages
              div(class='message')
                if currentUser.role === 'Member' 
                  p
                    strong @!{msg.user.username}
                  p 
                    em= msg.text
                  p(class='date')
                    em= msg.date_formated
                else if  currentUser.role === 'Admin'
                  div(class='user-and-delete')
                    p 
                      strong @!{msg.user.username}
                    form(action=`/${msg._id}/delete` method='GET')
                      button Delete
                  p 
                    em= msg.text
                  p(class='date')
                    em= msg.date_formated
                else
                  p
                    a(href='/join') Become a member to view the author
                  p 
                    em= msg.text
                  p(class='date')
                    a(href='/join') Become a member to view the date
    else
        if messages
          div(class='messages')
            each msg in messages
              div(class='message')
                a(href='/log-in') Log-in or 
                a(href='/sign-up') Sign-up to view content
